	body {
		background-color:#7bb2ed;
		padding:none;
		
		
}
		
		.buttons {
		  border: none;
  background-color: inherit;
  font-size: 50px;
  cursor: pointer;
  display: inline-block;
     margin: 0;
    background-color: inherit;
  padding: 20px 40px;

}

		.Done  {
		
		color:green;
		transition: 0.3s;
		
}
		
		.Done:hover  {
		color:#7bb2ed;
		background:green;
		opacity:0.45;
		
}
	.button {
   width: 170px;
   height: 50px;
   font-size: 15px;
   padding: 10px 10px;
}
		.square {
  height: 100px;
  width: 5000px;
  background-color: #42c949;
  position:absolute;
  top:0%;
  left:0%;
				}
		.nav_bar1  {
		position:absolute;
  		top:1.2%;
  		left:3%;
  		font-size:24px;



		}
		.flip-card1 {
  background-color: transparent;
  width: 130px;
  height: 75px;
  perspective: 1000px;
  position:absolute;
  top:1%;
  left:400px;			
}

.flip-card1-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card1:hover .flip-card1-inner {
  transform: rotatex(180deg);
  transform: rotatey(180deg);
}

.flip-card1-front, .flip-card1-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card1-front {
  background-color: #fff;
  color: black;
}

.flip-card1-back {
  background-color: #2980b9;
  color: white;
  transform: rotatex(180deg);
  transform: rotatey(180deg);
}

		.flip-card2 {
  background-color: transparent;
  width: 170px;
  height: 75px;
  perspective: 1000px;
  position:absolute;
  top:1%;
  left:600px;			
}

.flip-card2-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card2:hover .flip-card2-inner {
  transform: rotatex(180deg);
  transform: rotatey(180deg);
}

.flip-card2-front, .flip-card2-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card2-front {
  background-color: #fff;
  color: black;
}

.flip-card2-back {
  background-color: #2980b9;
  color: white;
  transform: rotatex(180deg);
  transform: rotatey(180deg);
}
